@using System;
@using System.Collections;
@using System.Globalization;
@using bestill.Domain.Entity;
@model bestill.Domain.ViewModels.Artist.ArtistViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

@{
    Countries countries = new Countries();
    countries.SetList();
    var countryList = countries.cultureList;

}

<h1>Search</h1>

<div style="padding: 10px;"></div>
 <div class="col-md-12">
    <div class="card-body">
        <div class="card card-outline-secondary" style="background-color: white">
            <div class="card-header">
                <h3 class="mb-0 text-center ParagraphHome">Поиск исполнителя</h3>
            </div>
            <div class="card-body">
                <form asp-action="Search" enctype="multipart/form-data">
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" id="validationServer01" type="text">
                    </div>
                                         <div class="col-md-3">
                     <label for="validationDefault04" style="color:black" class="form-label">Страна</label>
                        <select asp-for="Country" style="align-content" class="form-select" id="validationDefault04">
                          <option selected disabled value="">Выберите...</option>
                            @foreach (var country in countryList)
                            {
                                <option>@country</option>
                            }
                            
                        </select>
                      </div>

                <ul class="flex-inner">
                    <li>
                        <input asp-for="Group" type="checkbox">
                        <label asp-for="Group" style="color:black" >Групповой исполнитель</label>
                    </li>
                    </ul>
                    <button class="btn btn-primary btn-lg float-right" type="submit">Искать</button>
                </form>
            </div>
        </div>
    </div>
</div>