@using bestill.Domain.Entity
@model Artist
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <a asp-controller="Artist" asp-action="Search" class="btn btn-primary">Искать исполнителей</a>
    <a asp-controller="Album" asp-action="Search" class="btn btn-primary">Искать альбомы</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

