@using bestill.Domain.Entity
@model Artist
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
            <img src=https://na-dache.pro/uploads/posts/2021-05/1620713052_72-p-komnata-raskolnikova-foto-77.jpg
                 class="img-fluid rounded-start rounded">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="display-4">Добро пожаловать на BeStill</h2>
                <p class="card-text"><b></b>Здесь вы сможете в текстовом виде с илюстрациями вести свой дневник меломана!</p>
            </div>
        </div>
                          
    </div>
</div>



