
@model bestill.Domain.ViewModels.Album.AlbumViewModel

@{
        ViewBag.Title = "Добавление";
        Layout = "_Layout";
}


@{
    var textTitle = Model?.Id == 0 ? "Изменение данных" : "Добавление данных";
}

@{
    List<string> genres = new List<string> { "Pop", "Hip-Hop", "Electronic Dance Music (EDM)","Rock","R&B","Latin","K-Pop","Country","Classical","Metal", "Industrial"};
}


<div style="padding: 10px;"></div>
 <div class="col-md-12">
    <div class="card-body">
        <div class="card card-outline-secondary" style="background-color: white">
            <div class="card-header">
                <h3 class="mb-0 text-center ParagraphHome">@textTitle</h3>
            </div>
            <div class="card-body">
                <form asp-action="Save" enctype="multipart/form-data">
                    <input asp-for="Id" hidden />
                    <input asp-for="AuthorId" hidden />
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
                    <div class="form-group">
                        <label asp-for="Title" style="color:black">Title</label>
                        <input asp-for="Title" class="form-control" id="validationCustom01" type="text" placeholder="Введите название альбома..." required>
                        <span asp-validation-for="Title"></span>
                            <div class="valid-feedback">
                                Looks good!
                               </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="YearRelease" style="color:black">Year Release</label>
                        <input asp-for="YearRelease" class="form-control" type="text" placeholder="Введите год выхода альбома..." required>
                        <span asp-validation-for="YearRelease"></span>
                    </div>
                     <div class="col-md-3">
                     <label for="validationDefault04" class="form-label">Страна</label>
                        <select asp-for="Genre" style="align-content" class="form-select" id="validationDefault04" required>
                          <option selected disabled value="">Выберите...</option>
                            @foreach (var genre in genres)
                            {
                                <option>@genre</option>
                            }
                            
                        </select>
                      </div>

                    <div class="form-group">
                        <label asp-for="Avatar" style="color:black">Avatar</label>
                      <textarea asp-for="Avatar" class="form-control" placeholder="Вставьте ссылку на изображение..."> </textarea>
                    </div>

                    <button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>



